* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

    &:lang(ar) {
        direction: rtl;
    }
    &:lang(en) {
        direction: ltr;
    }
}

// auth styles
@import url("./authStyles/_register.scss");
@import url("./authStyles/_login.scss");
// auth styles

// responsive

// mobile
@import url("./responsiveStyle/_mobile.scss");
// mobile

// tablets
@import url("./responsiveStyle/_tablets.scss");
// tablets

// labTobs
@import url("./responsiveStyle/_labTobs.scss");
// labTobs
// desktop

@import url("./responsiveStyle/_deskTop.scss");
// desktop

// responsive

// sideBar
@import url("./sideBar/_sideBar.scss"); // sideBar
