.p-image {
    width: 80%;
    img {
        width: 100%;
        object-fit: contain;
    }
}
.p-tabview-nav {
    background-color: #292828;
    border-bottom: 1px solid #fff;
    .p-tabview-nav-link {
        background-color: #292828;
        padding-bottom: 0.8rem;

        .p-tabview-title {
            color: #fff !important;
            margin-inline: 1rem;
            background-color: #292828;
        }
    }
}
.p-tabview-panel {
    background-color: #292828 !important;
}

.vedios,.posters {
    &::-webkit-scrollbar {
        width: 3px !important;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
