.sidebar {
    // width: 5%;

    .dark {
        aside {
            border-color: #fff;
        }
    }
    aside {
        border-color: rgb(75 85 99);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-inline: 2rem;
        .icon {
            opacity: 0.6;
            fill: #0d6efd;
            transition: all 0.6s;
        }
        .active {
            svg {
                fill: #0d6efd;
                opacity: 1;
                transition: all 0.6s;
            }
        }
        .searchIcon {
            opacity: 1;
            fill: #0d6efd;
        }
        button.has-tooltip {
            width: max-content;
        }
    }
}
