@media screen and (min-width: 1200px) {
    .dk-none {
        display: none;
    }
    .HomeMovie {
    margin: 2rem 0;
    padding: 0 1.5rem;
    .swiper-wrapper{
    .swiper-slide{
        width:273px;
        margin:0  0.7rem;
    }
}
}
}
