@media screen and (max-width: 767px) {
    .sm-none {
        display: none;
    }

    // .HomeMovie {
    //     .swiper-initialized {
    //         .swiper-wrapper {
    //             .swiper-slide {
    //                 // width: 199px;
    //                 margin-right: 20px;
    //             }
    //         }
    //     }
    // }
    .sm-flex-col {
        display: flex;
        flex-direction: column;
        gap: unset;
    }
    .register {
        .image {
            height: 8rem;
        }
        .description {
            margin-block: -2rem;
            // position: absolute;
            padding: 0 2rem;
            h4 {
                color: black;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: capitalize;
            }
            span {
                color: rgb(160, 154, 154);
                font-size: 0.9rem;
            }
        }
        form {
            margin-block: 3rem;
        }
        .circle {
            border-radius: 50%;
            background-color: white;
            filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
            // padding: 1.8rem;
            width: 16%;
        }
    }
    .login {
        .image {
            height: 8rem;
        }
        .description {
            margin-block: -2rem;
            // position: absolute;
            padding: 0 2rem;
            h4 {
                color: black;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: capitalize;
            }
            span {
                color: rgb(160, 154, 154);
                font-size: 0.9rem;
            }
        }
        form {
            margin-block: 3rem;
        }
        .circle {
            border-radius: 50%;
            background-color: white;
            filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
            // padding: 1.8rem;
            width: 16%;
        }
        .login_form {
            height: 75vh;
        }
    }
    .content {
        margin-top: 3.5rem;
    }
    .mySwiper {
        span.swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #706b6b;
            width: 8% !important;
            border-radius: 4px;
        }
        .satr {
            fill: gold;
        }
    }
}
