@media screen and (min-width: 767px) and (max-width: 991px) {
    .tb-none {
        display: none;
    }

        .HomeMovie {
        .swiper-initialized {
            .swiper-wrapper {
                .swiper-slide {
                    width: 13.2rem;
                    margin-right: 22px;
                }
            }
        }
    }
    
    .register {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
    .login {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
}
