@media screen and (min-width: 767px) and (max-width: 991px) {
    .tb-none {
        display: none;
    }

    .register {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
    .login {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
}
