@media screen and (min-width: 767px) and (max-width: 991px) {
    .tb-none {
        display: none;
    }

    .mySwiper img.image_film {
        height: 50vh !important;
        width: 100% !important;
        object-fit: cover !important;
        object-position: center !important;
        backdrop-filter: unset !important;
    }

    .register {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
    .movies {
        height: unset !important;
    }
    .login {
        .image {
            .description {
                .circle {
                    width: 18%;
                }
            }
        }
    }
}
