.HomeMovie {
    .swiper {
        padding-bottom: 5rem !important;
        margin-top: 1rem;
        margin-bottom: 0;
        &:lang(en) {
            .swiper-button-next {
                top: 37rem;
                right: 1rem;
                &::after {
                    font-size: 1rem;
                    color: #000;
                    padding: 0.8rem;
                    border: 1px solid #000;
                    border-radius: 50px;
                }
            }
            .swiper-button-prev {
                top: 37rem;
                left: unset;
                right: 4rem;

                &::after {
                    font-size: 1rem;
                    color: #000;
                    padding: 0.8rem;
                    border: 1px solid #000;
                    border-radius: 50px;
                }
            }
        }
        &:lang(ar) {
            .swiper-button-next {
                top: 37rem;
                left: 1rem;
                &::after {
                    font-size: 1rem;
                    color: #000;
                    padding: 0.8rem;
                    border: 1px solid #000;
                    border-radius: 50px;
                }
            }
            .swiper-button-prev {
                top: 37rem;
                left: 4rem;
                right: unset;
                &::after {
                    font-size: 1rem;
                    color: #000;
                    padding: 0.8rem;
                    border: 1px solid #000;
                    border-radius: 50px;
                }
            }
        }
    }

    // margin: 2rem 0;
    padding: 2rem 1.5rem;

    .border-top {
        border-top: 8px solid #0284c7;
        width: 54%;
        border-radius: 50px;
        transition: all 0.5s;
    }
    .title {
        &:hover {
            cursor: pointer;
            .border-top {
                width: 100%;
                transition: all 0.5s;
            }
        }
    }
    .p-carousel-indicators.p-reset {
        display: none !important;
    }
}

#dark {
    .HomeMovie {
        .swiper {
            padding-bottom: 5rem !important;
            margin-top: 1rem;
            margin-bottom: 0;
            &:lang(en) {
                .swiper-button-next {
                    top: 37rem;
                    right: 1rem;
                    &::after {
                        font-size: 1rem;
                        color: #706b6b;
                        padding: 0.8rem;
                        border: 1px solid #fff;
                        border-radius: 50px;
                    }
                }
                .swiper-button-prev {
                    top: 37rem;
                    left: unset;
                    right: 4rem;

                    &::after {
                        font-size: 1rem;
                        color: #706b6b;
                        padding: 0.8rem;
                        border: 1px solid #fff;
                        border-radius: 50px;
                    }
                }
            }
            &:lang(ar) {
                .swiper-button-next {
                    top: 37rem;
                    left: 1rem;
                    &::after {
                        font-size: 1rem;
                        color: #706b6b;
                        padding: 0.8rem;
                        border: 1px solid #fff;
                        border-radius: 50px;
                    }
                }
                .swiper-button-prev {
                    top: 37rem;
                    left: 4rem;
                    right: unset;
                    &::after {
                        font-size: 1rem;
                        color: #706b6b;
                        padding: 0.8rem;
                        border: 1px solid #fff;
                        border-radius: 50px;
                    }
                }
            }
        }
        // margin: 2rem 0;
        padding: 2rem 1.5rem;
        .border-top {
            border-top: 8px solid gold;
            width: 54%;
            border-radius: 50px;
            transition: all 0.5s;
        }
        .title {
            &:hover {
                cursor: pointer;
                .border-top {
                    width: 100%;
                    transition: all 0.5s;
                }
            }
        }
    }
}
