.search_modal {
    * {
        transition: all 0.5s;

    }
    .modal-enter-active,
    .modal-leave-active {
        transition: opacity 0.5s;
    }
    .modal-enter,
    .modal-leave-to {
        opacity: 0;
    }

    .search {
        height: 80vh;
        overflow: auto;
    }
}
